.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar a {
  color: #3a6cf4;
  text-decoration: none;
  font-weight: 500;
  padding-left: 30px;
}
.navbar a:hover {
  color: #601cfc;
}
.navbar a.logo {
  color: #3a6cf4;
}
.navbar-collapse {
  flex-grow: 0;
}
/* start home */
.home {
  background: url("../images/image3.jpg") no-repeat;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.home .content {
  position: absolute;
  top: 30%;
  left: 5%;
}
.home .content h1 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}
.home .content h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.home .content span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 3em;
  font-weight: 600;
}
.home a.title {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 30px;
  transition: 0.7s ease;
}

.home .social i {
  color: #fff;
  font-size: 1.7em;
  padding-right: 25px;
}

/* end home */
/* start services */
.services {
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.services .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.services h1 {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.services .card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 10px;
  transition: 0.7s ease;
}
.services .card:hover {
  transform: scale(1.1);
}
.services .card i {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}
.services .info {
  text-align: center;
}
.services .info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
/* end services */

/* start projects */
.projects {
  background-color: #000016;
  padding-bottom: 5%;
  margin-top: %5;
}
.projects h1 {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.projects .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.projects .card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}
.projects .card:hover {
  transform: scale(1.1);
}

.projects .card:hover .project-image {
  opacity: 0.9;
}
.projects .project-image img {
  width: 100%;
}
.projects .project-info {
  padding: 1em;
}
.projects .more-details {
  text-decoration: none;
  color: #3a6cf4;
}
.projects .more-details:hover {
  color: #601cfc;
}

/* end projects */

/* start contactme */
.contactme {
  background-color: #b8b8ff;
  padding-bottom: 5%;
}
.contactme h1 {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 40px;
}
.contactme form {
  width: 75%;
  margin: auto;
}
.contactme form button {
  display: table;
  margin: auto;
}
/* end contactme */

/* start footer */
.footer {
  background-color: #000016;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social {
  display: inline-block;
  font-size: 25px;
}
.footer .social a {
  color: #fff;
}
.footer .social i {
  margin-right: 10px;
}
.footer p {
  margin: 0;
  display: inline-block;
  float: right;
  font-size: 20px;
}
/* end footer */

/* start media screen */
@media (min-width: 768px) {
  .home .content span {
    font-size: 1.5em;
  }
}
@media (min-width: 425px) {
  .home .content {
    width: 70%;
  }
}
@media (min-width: 375px) {
  .home .content {
    width: 70%;
  }
}
@media (min-width: 320px) {
  .home .content span {
    font-size: 2em;
  }
  .home .content h1 {
    font-size: 20px;
  }
}
/* end media screen */
